* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}
body {
    background-color: #f2f2f2;
    overflow-x: hidden;
}

:root {
    --black: #282828;
    --blue: #0f6fde;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}
